*{
    box-sizing: border-box;
    padding:0%;
    margin: 0;
}
.bojo1{
    border: black 10px solid;
   width: 200px; 
   height: 200px;
   background: blue;
   padding: 20px;
}
.bojo2{
   border: black 10px solid;
   border-bottom: black 20px solid;
   border-top: black 20px solid;
   width:200px;
   height:200px;
   background:yellow;
   margin-left: 200px;
}
.bojo3{
    border: black 10px solid;
    width: 200px; height: 200px;
    background: red;
}
p{
    color:
   yellow;
   font-size: 12px;
}